body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    padding-bottom: 80px;
}
form {
    border: 3px solid #ccc;
    background-color:white;
    padding: 0 20px 25px 20px;
    border-radius: 10px;
  }
  input[type=checkbox],
  input[type=radio] {
    margin-right: 8px;
  }
  .form-label.capitalize {
    text-transform: capitalize;
  }
  .checkbox-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .checkbox-group .form-label {
    width: 50%;
  }
  input[type=submit],
  .btn-link {
    margin-top: 20px;
  }
  
  h4{
    text-align: center;
    color: #1fa67b !important; 
  }
  
  .columns{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .btn{
    background-color: #1fa67b !important;
    color: #fff !important;
    border: .1rem solid #1fa67b !important;
    margin-top: 20px;
    width: unset !important;
    }
    .form-label{
        font-weight: 500;
    }
  @media (min-width:961px){
    .columns{
        width: 100%;
    }
}
.centered{
    width: 30%;
}
.errorMessages{
    color: red;
}